div .satu, .dua, .tiga{
    width: 200px;
    height: 200px;
    margin: auto;
}

.container {
    width: 800px;
    border:1px solid black;
    margin: auto;
    padding: 10px;
    position: relative;
}

.satu{
    background-color: salmon;
}

.dua {
    background-color: green;
    position: absolute;
    top: 10px;
    left: 10px;
}

.tiga{
    background-color: black;
}